In [8]:
import pandas as pd
from pathlib import Path
from pprint import pprint
from datetime import datetime, timedelta # to convert timestamp/ID to human readable format

In [2]:

raw_data = Path('rawdata')
tables = {}
for i, file in enumerate(raw_data.iterdir()):
    name = file.name.split('.')[0]
    tables[f"{name}"] = pd.read_csv(f"rawdata/{file.name}", header = None, names=('ID', name))

In [3]:
columns = [i for i in tables.keys()] 
columns.sort()
pprint(columns)

['fuelDensity',
 'fuelTemp',
 'fuelVolumeFlowRate',
 'inclinometer-raw',
 'latitude',
 'level1median',
 'level2median',
 'longitude',
 'longitudinalWaterSpeed',
 'portPitch',
 'portRudder',
 'speedKmh',
 'speedKnots',
 'starboardPitch',
 'starboardRudder',
 'trackDegreeMagnetic',
 'trackDegreeTrue',
 'trueHeading',
 'windAngle',
 'windSpeed']

### Date transformation functions

In [4]:
def ticks_to_iso(ticks):
    """Convert .NET DateTime.Ticks to an ISO 8601 formatted string."""
    ticks_epoch = datetime(1, 1, 1)  # .NET starts from year 0001-01-01
    date_time = ticks_epoch + timedelta(microseconds=ticks / 10)  # Convert ticks to microseconds
    return date_time.isoformat()

def ticks_to_ymd(ticks):
    """Convert .NET DateTime.Ticks to an ISO 8601 formatted string."""
    ticks_epoch = datetime(1, 1, 1)  # .NET starts from year 0001-01-01
    date_time = ticks_epoch + timedelta(microseconds=ticks / 10)  # Convert ticks to microseconds
    return date_time.strftime("%Y-%m-%d")

# Adds date and ISO date to table in tables dictionary
def add_dates(table_name): 
    tables[table_name]["date"] = tables[table_name].ID.apply(ticks_to_ymd)
    tables[table_name]["iso_date"] = tables[table_name].ID.apply(ticks_to_iso)

### Aggregting date for mass flow of fuel

In [5]:
df_cons = pd.DataFrame(tables["fuelDensity"].ID.tolist(), columns = ('ID',))
df_cons = df_cons.merge(tables["fuelDensity"], on='ID',how='inner')
df_cons = df_cons.merge(tables["fuelVolumeFlowRate"], on='ID',how='inner')
df_cons

                         ID  fuelDensity  fuelVolumeFlowRate
0        634019142119225390     0.947109            0.000000
1        634019142129597610     0.947110            0.000000
2        634019142139821660     0.947114            0.000000
3        634019142150036040     0.947104            0.000000
4        634019212935606850     0.938305            0.283816
...                     ...          ...                 ...
1627319  634067079121428610     0.930151            0.203576
1627320  634067079131642650     0.930103            0.205217
1627321  634067079141866640     0.930075            0.212853
1627322  634067079152080710     0.930082            0.224660
1627323  634067079162304710     0.930101            0.247825

[1627324 rows x 3 columns]

In [9]:
df_cons["date"] = df_cons.ID.apply(ticks_to_ymd)
df_cons["iso_date"] = df_cons.ID.apply(ticks_to_iso)

In [10]:
df_cons

,ID,fuelDensity,fuelVolumeFlowRate,date,iso_date
0,634019142119225390,0.947109,0.000000,2010-02-16,2010-02-16T10:50:11.922536
1,634019142129597610,0.947110,0.000000,2010-02-16,2010-02-16T10:50:12.959760
2,634019142139821660,0.947114,0.000000,2010-02-16,2010-02-16T10:50:13.982168
3,634019142150036040,0.947104,0.000000,2010-02-16,2010-02-16T10:50:15.003600
4,634019212935606850,0.938305,0.283816,2010-02-16,2010-02-16T12:48:13.560688
...,...,...,...,...,...
1627319,634067079121428610,0.930151,0.203576,2010-04-12,2010-04-12T22:25:12.142864
1627320,634067079131642650,0.930103,0.205217,2010-04-12,2010-04-12T22:25:13.164264
1627321,634067079141866640,0.930075,0.212853,2010-04-12,2010-04-12T22:25:14.186664
1627322,634067079152080710,0.930082,0.224660,2010-04-12,2010-04-12T22:25:15.208072
1627323,634067079162304710,0.930101,0.247825,2010-04-12,2010-04-12T22:25:16.230472

In [11]:
display(df_cons[(df_cons["fuelVolumeFlowRate"] > 0) & (df_cons["date"] == '2010-02-16')])
display(df_cons[(df_cons["fuelVolumeFlowRate"] > 0) &  (df_cons["date"] == '2010-02-17')])

,ID,fuelDensity,fuelVolumeFlowRate,date,iso_date
4,634019212935606850,0.938305,0.283816,2010-02-16,2010-02-16T12:48:13.560688
5,634019212945820680,0.938173,0.279202,2010-02-16,2010-02-16T12:48:14.582064
6,634019212956034910,0.938036,0.282821,2010-02-16,2010-02-16T12:48:15.603488
7,634019212966268860,0.937983,0.280900,2010-02-16,2010-02-16T12:48:16.626888
8,634019212976492840,0.937767,0.279850,2010-02-16,2010-02-16T12:48:17.649280
...,...,...,...,...,...
8634,634019301152989210,0.926645,0.185059,2010-02-16,2010-02-16T15:15:15.298920
8635,634019301163232170,0.926666,0.185255,2010-02-16,2010-02-16T15:15:16.323216
8636,634019301173466570,0.926686,0.187334,2010-02-16,2010-02-16T15:15:17.346656
8637,634019301183680670,0.926721,0.185752,2010-02-16,2010-02-16T15:15:18.368064
8638,634019301193894640,0.926719,0.183953,2010-02-16,2010-02-16T15:15:19.389464

,ID,fuelDensity,fuelVolumeFlowRate,date,iso_date
8639,634019858471552070,0.935706,0.394521,2010-02-17,2010-02-17T06:44:07.155208
8640,634019858481776080,0.935774,0.347631,2010-02-17,2010-02-17T06:44:08.177608
8641,634019858492000120,0.935693,0.327961,2010-02-17,2010-02-17T06:44:09.200016
8642,634019858502214030,0.935598,0.317626,2010-02-17,2010-02-17T06:44:10.221400
8643,634019858512448020,0.935773,0.311582,2010-02-17,2010-02-17T06:44:11.244800
...,...,...,...,...,...
36613,634020383895512390,0.925759,0.221838,2010-02-17,2010-02-17T21:19:49.551240
36614,634020383905736690,0.925743,0.221843,2010-02-17,2010-02-17T21:19:50.573672
36615,634020383915950290,0.925741,0.215218,2010-02-17,2010-02-17T21:19:51.595032
36616,634020383926174300,0.925739,0.216107,2010-02-17,2010-02-17T21:19:52.617432
36617,634020383936398370,0.925752,0.221076,2010-02-17,2010-02-17T21:19:53.639840

#### Adding data about motion
Since fuel density is implied by fuel temperature. These variables are correlated and adding tempereture would not add any information. I will rather add location as it can be more related to the weather conditions, that can have influence on fuel mass flow. Since joining on time stamp is not an option in this case, I will transform it to human readable format and

In [ ]:
add_dates("longitude")
add_dates("latitude")

In [ ]:
df_longitude = tables["longitude"]
df_longitude["iso_date_min"] = df_longitude.iso_date.apply(lambda x: x[:16])
df_longitude

In [ ]:
print("First fuel consumption timestemp 2010-02-16T12:48:13.560688")
print("Longitude")
display(df_longitude[df_longitude.iso_date_min == '2010-02-16T12:48'])
print("Latitude")
display(tables["latitude"])

In [ ]:
# I cannot joinon date ofc
'''
df_gps = pd.DataFrame(tables["latitude"].date.tolist(), columns = ('date',))
df_gps = df_gps.merge(tables["latitude"].drop("ID", axis=1), on='date',how='inner')
df_gps = df_gps.merge(tables["longitude"].drop("ID", axis=1), on='date',how='inner')
df_gps
'''

In [ ]:
display(tables["latitude"].drop("ID", axis=1))

In [ ]:
tables["trueHeading"].ID.apply

## Count records per day

In [20]:
df_rec_counts = None
for name, df in tables.items():
    print(f'Processing {name}')
    if name not in df.keys():
        add_dates(name)
    print('Counting...')
    df = df[["date", name]].groupby("date").count()
    
    if df_rec_counts is None:
        df_rec_counts = df
    else:
        df_rec_counts = pd.merge(df_rec_counts, df, on="date")

display(df_rec_counts)
df_rec_counts.to_csv('records_per_day.csv', header=True)

Processing starboardRudder
Counting...
Processing portPitch
Counting...
Processing level2median
Counting...
Processing fuelDensity
Counting...
Processing latitude
Counting...
Processing speedKnots
Counting...
Processing longitudinalWaterSpeed
Counting...
Processing trackDegreeTrue
Counting...
Processing windSpeed
Counting...
Processing trueHeading
Counting...
Processing starboardPitch
Counting...
Processing portRudder
Counting...
Processing longitude
Counting...
Processing fuelVolumeFlowRate
Counting...
Processing level1median
Counting...
Processing trackDegreeMagnetic
Counting...
Processing inclinometer-raw
Counting...
Processing windAngle
Counting...
Processing speedKmh
Counting...
Processing fuelTemp
Counting...

,starboardRudder,portPitch,level2median,fuelDensity,latitude,speedKnots,longitudinalWaterSpeed,trackDegreeTrue,windSpeed,trueHeading,starboardPitch,portRudder,longitude,fuelVolumeFlowRate,level1median,trackDegreeMagnetic,inclinometer-raw,windAngle,speedKmh,fuelTemp
date,,,,,,,,,,,,,,,,,,,,
2010-02-16,18557,18557,37535,8639,28748,18972,5894,18969,9283,15468,18557,18557,28748,8639,37902,18969,38242,9283,18972,8639
2010-02-17,28579,28579,60166,27979,44339,29247,9083,29240,14299,23833,28579,28579,44337,27979,63204,29240,58934,14299,29247,27979
2010-02-18,25999,25999,55414,25270,40377,26627,8255,26620,13009,21673,25999,25999,40375,25270,60086,26619,53587,13009,26627,25270
2010-02-19,35029,35029,70955,34294,54387,35885,11130,35873,17530,29216,35029,35029,54388,34294,73426,35874,72241,17530,35886,34294
2010-02-20,35461,35461,72709,34724,55045,36347,11271,36341,17753,29584,35461,35461,55045,34724,76399,36341,73143,17753,36348,34724
2010-02-21,29608,29608,48878,28988,45936,30302,9407,30296,14818,24696,29608,29608,45936,28988,45516,30296,61059,14818,30302,28988
2010-02-22,39748,39748,81014,34509,61703,40666,12629,40656,19892,33148,39748,39748,61704,34509,88646,40657,81964,19892,40665,34509
2010-02-23,26567,26567,58848,19360,41184,27197,8440,27190,13294,22152,26567,26567,41184,19360,63085,27190,54774,13294,27197,19360
2010-02-24,29573,29573,61634,28953,45826,30220,9395,30211,14797,24662,29573,29573,45827,28953,66193,30211,60985,14797,30220,28953
2010-02-25,26624,26624,52991,26064,41318,27229,8457,27222,13321,22201,26624,26624,41317,26064,54387,27222,54898,13321,27229,26064
2010-02-26,33266,33266,69891,32568,51584,34037,10565,34032,16646,27741,33266,33266,51581,32568,75360,34031,68599,16646,34037,32568
2010-02-27,31860,31860,72541,31191,49335,32594,10122,32589,15943,26571,31860,31860,49335,31191,75672,32588,65701,15943,32594,31191
2010-02-28,26176,26176,56700,25626,40636,26820,8317,26815,13098,21831,26176,26176,40635,25626,60358,26815,53980,13098,26821,25626
2010-03-01,39917,39917,85240,39081,61906,40855,12684,40842,19977,33292,39917,39917,61906,39081,90484,40843,82319,19977,40855,39081
2010-03-02,26059,26059,57998,25511,40409,26703,8280,26696,13040,21734,26059,26059,40407,25511,61746,26696,53741,13040,26703,25511
2010-03-03,26985,26985,58827,26420,41859,27631,8574,27627,13503,22505,26985,26985,41857,26420,60569,27627,55648,13503,27631,26420
2010-03-04,26793,26793,63940,26233,41546,27415,8512,27408,13407,22345,26793,26793,41547,26233,64453,27408,55253,13407,27416,26233
2010-03-05,36144,36144,87368,35387,56022,37037,11484,37024,18085,30142,36144,36144,56020,35387,93313,37024,74536,18085,37037,35387
2010-03-06,32713,32713,75375,32025,50749,33496,10390,33485,16367,27280,32713,32713,50747,32025,82156,33485,67457,16367,33496,32025
2010-03-07,26217,26217,60547,25666,40708,26851,8332,26844,13119,21864,26217,26217,40709,25666,64443,26843,54065,13119,26851,25666
2010-03-08,39259,39259,96426,38441,60937,40210,12475,40201,19651,32747,39259,39259,60938,38441,101006,40201,80965,19651,40210,38441
2010-03-09,28798,28798,69903,28199,44699,29500,9154,29494,14416,24023,28798,28798,44698,28199,71549,29493,59383,14416,29500,28199
2010-03-10,29397,29397,69361,28782,45571,30083,9341,30073,14712,24521,29397,29397,45571,28782,68539,30073,60623,14712,30083,28782
2010-03-11,26108,26108,62197,25561,40514,26721,8293,26716,13066,21776,26108,26108,40514,25561,65144,26715,53838,13066,26721,25561
2010-03-12,33274,33274,78539,32576,51712,34063,10571,34053,16651,27749,33274,33274,51713,32576,83820,34053,68613,16651,34063,32576
2010-03-13,32967,32967,78013,32276,51148,33775,10475,33766,16496,27498,32967,32967,51149,32276,82181,33766,67984,16496,33774,32276
2010-03-14,26449,26449,58328,25895,40989,27064,8403,27058,13235,22060,26449,26449,40989,25895,61996,27058,54542,13235,27064,25895
2010-03-15,39495,39495,86989,38667,61249,40453,12549,40443,19766,32941,39495,39495,61250,38667,91269,40443,81449,19766,40453,38667
2010-03-16,26654,26654,65308,26099,41370,27298,8470,27294,13339,22230,26654,26654,41371,26099,66912,27294,54966,13339,27298,26099
2010-03-17,26427,26427,59597,25872,40997,27064,8398,27056,13224,22042,26427,26427,40996,25872,63022,27055,54500,13224,27064,25872
2010-03-18,26569,26569,61699,26012,41200,27201,8440,27194,13296,22160,26569,26569,41199,26012,61243,27194,54793,13296,27201,26012
2010-03-19,33433,33433,74568,32731,51852,34201,10621,34190,16729,27882,33433,33433,51853,32731,80355,34190,68954,16729,34201,32731
2010-03-20,33515,33515,73102,32814,51937,34290,10650,34284,16771,27953,33515,33515,51936,32814,78916,34285,69130,16771,34290,32814
2010-03-21,27347,27347,58886,26773,42402,27962,8689,27957,13684,22806,27347,27347,42401,26773,61486,27957,56403,13684,27962,26773
2010-03-22,43406,43406,88723,42493,67369,44440,13790,44431,21720,36200,43406,43406,67368,42493,92126,44432,89527,21720,44438,42493
2010-03-23,27261,27261,59768,26692,42264,27917,8662,27911,13644,22738,27261,27261,42265,26692,61046,27911,56230,13644,27917,26692
2010-03-24,27255,27255,59385,26684,42259,27898,8658,27893,13640,22730,27255,27255,42259,26684,60498,27893,56215,13640,27898,26684
2010-03-25,26499,26499,61842,25945,41161,27106,8420,27100,13261,22102,26499,26499,41159,25945,63127,27100,54658,13261,27105,25945
2010-03-26,36207,36207,79280,35447,56158,37043,11502,37034,18119,30197,36207,36207,56159,35447,78445,37034,74677,18119,37043,35447
2010-03-27,38510,38510,79307,37702,59691,39441,12236,39434,19272,32119,38510,38510,59691,37702,77606,39434,79435,19272,39440,37702
2010-03-28,31702,31702,67086,31039,49159,32428,10072,32421,15865,26439,31702,31702,49157,31039,68644,32420,65391,15865,32428,31039
2010-03-29,41037,41037,84761,40176,63641,41998,13039,41987,20535,34224,41037,41037,63639,40176,88694,41987,84644,20535,41998,40176
2010-03-30,29883,29883,68042,29255,46369,30584,9493,30574,14955,24920,29883,29883,46370,29255,72442,30574,61634,14955,30584,29255
2010-03-31,26642,26642,59816,26082,41338,27265,8464,27257,13333,22220,26642,26642,41338,26082,63466,27257,54950,13333,27265,26082
2010-04-01,26643,26643,59467,26084,41319,27286,8464,27281,13333,22221,26643,26643,41319,26084,62783,27281,54952,13333,27286,26084
2010-04-03,26380,26380,63225,25827,40976,27011,8382,27007,13200,22000,26380,26380,40976,25827,66221,27006,54412,13200,27011,25827
2010-04-05,44808,44808,90539,43872,69505,45806,14238,45791,22423,37371,44808,44808,69505,43872,76697,45791,92442,22423,45806,43872
2010-04-06,27273,27273,58931,26702,42336,27939,8663,27930,13648,22748,27273,27273,42337,26702,62398,27930,56268,13648,27940,26702
2010-04-07,40775,40775,95179,39917,63311,41742,12955,41732,20403,34003,40775,40775,63311,39917,95980,41732,84089,20403,41742,39917
2010-04-08,26329,26329,65263,25775,40836,26926,8365,26917,13175,21958,26329,26329,40836,25775,66806,26917,54294,13175,26926,25775
2010-04-09,32876,32876,80442,32184,51056,33662,10447,33655,16449,27419,32876,32876,51056,32184,82833,33655,67793,16449,33662,32184
2010-04-10,32522,32522,77911,31838,50437,33292,10333,33286,16272,27122,32522,32522,50436,31838,80351,33285,67063,16272,33292,31838
2010-04-11,25968,25968,63460,25424,40316,26600,8250,26592,12994,21656,25968,25968,40315,25424,64946,26592,53545,12994,26600,25424
2010-04-12,39836,39836,100880,39000,61816,40797,12656,40787,19932,33222,39836,39836,61815,39000,104883,40787,82145,19932,40797,39000

In [25]:
print(df_rec_counts.shape)
display(df_rec_counts.info())
display(df_rec_counts.describe())

(54, 20)
<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, 2010-02-16 to 2010-04-12
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   starboardRudder         54 non-null     int64
 1   portPitch               54 non-null     int64
 2   level2median            54 non-null     int64
 3   fuelDensity             54 non-null     int64
 4   latitude                54 non-null     int64
 5   speedKnots              54 non-null     int64
 6   longitudinalWaterSpeed  54 non-null     int64
 7   trackDegreeTrue         54 non-null     int64
 8   windSpeed               54 non-null     int64
 9   trueHeading             54 non-null     int64
 10  starboardPitch          54 non-null     int64
 11  portRudder              54 non-null     int64
 12  longitude               54 non-null     int64
 13  fuelVolumeFlowRate      54 non-null     int64
 14  level1median            54 non-null     int64
 15  trackDegreeMagnetic     54 non-null     int64
 16  inclinometer-raw        54 non-null     int64
 17  windAngle               54 non-null     int64
 18  speedKmh                54 non-null     int64
 19  fuelTemp                54 non-null     int64
dtypes: int64(20)
memory usage: 8.9+ KB

None

,starboardRudder,portPitch,level2median,fuelDensity,latitude,speedKnots,longitudinalWaterSpeed,trackDegreeTrue,windSpeed,trueHeading,starboardPitch,portRudder,longitude,fuelVolumeFlowRate,level1median,trackDegreeMagnetic,inclinometer-raw,windAngle,speedKmh,fuelTemp
count,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000
mean,31173.685185,31173.685185,69348.037037,30135.629630,48361.314815,31911.055556,9904.425926,31903.314815,15599.814815,25998.796296,31173.685185,31173.685185,48361.000000,30135.629630,71941.259259,31903.222222,64289.500000,15599.814815,31911.037037,30135.629630
std,5703.044397,5703.044397,12945.812593,6176.769594,8849.599353,5838.206158,1812.329051,5836.465821,2854.238015,4756.987057,5703.044397,5703.044397,8849.681286,6176.769594,13461.877245,5836.658312,11765.468732,2854.238015,5838.065430,6176.769594
min,18557.000000,18557.000000,37535.000000,8639.000000,28748.000000,18972.000000,5894.000000,18969.000000,9283.000000,15468.000000,18557.000000,18557.000000,28748.000000,8639.000000,37902.000000,18969.000000,38242.000000,9283.000000,18972.000000,8639.000000
25%,26582.750000,26582.750000,59639.750000,26025.000000,41229.500000,27208.000000,8444.250000,27201.000000,13302.250000,22170.250000,26582.750000,26582.750000,41228.500000,26025.000000,62842.750000,27201.000000,54819.250000,13302.250000,27208.000000,26025.000000
50%,29485.000000,29485.000000,66197.000000,28867.500000,45698.500000,30151.500000,9368.000000,30142.000000,14754.500000,24591.500000,29485.000000,29485.000000,45699.000000,28867.500000,67725.500000,30142.000000,60804.000000,14754.500000,30151.500000,28867.500000
75%,34650.500000,34650.500000,78407.500000,33924.000000,53774.500000,35486.250000,11010.000000,35475.750000,17340.250000,28900.250000,34650.500000,34650.500000,53775.000000,33924.000000,80354.000000,35476.750000,71463.250000,17340.250000,35487.000000,33924.000000
max,44808.000000,44808.000000,100880.000000,43872.000000,69505.000000,45806.000000,14238.000000,45791.000000,22423.000000,37371.000000,44808.000000,44808.000000,69505.000000,43872.000000,104883.000000,45791.000000,92442.000000,22423.000000,45806.000000,43872.000000